<!DOCTYPE html>
<html lang="en" class="astro-SCKKX6R4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Elsje Stuiver - Occupational Therapy website">
		<meta name="keywords" content="Occupational Therapy, Arbeidsterapie, Occupational Therapist, Arbeidsterapeut, Paediatric, Pediatries, Child, Kind, Autism, Development Delay, ADD, AD(H)D, Sensory Integration, Pinetown, Durban, South Africa">
		<meta name="author" content="paul@kidzcandurban.com">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="360">
		<link rel="icon" href="/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#de2013">
		<meta name="viewport" content="width=device-width">
   

	<link rel="stylesheet" href="../../_astro/index.bcfb1ce1.css" /></head>
	<body class="astro-SCKKX6R4">
	
  <div style="display: contents">
    <div class="views-container">
      <div class="@container views-head gray-on-blue">
        <div class="flex items-center">
          <a href="javascript:history.go(-1)"><div>
              <svg viewBox="0 0 48 48" class="views-head-icon">
                <title>Back arrow icon</title>
                <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
              </svg>
            </div></a>
          <span class="views-head-back" aria-hidden="true">back</span>
        </div>
        <div class="views-head-text">Social Stories</div>
        <div class="views-head-dummy">&nbsp;</div>
      </div>
      <div class="views-content blue-on-white">
        <p>
          <span class="my-2 font-semibold italic block">
            Designing Social Stories
          </span>
        </p>
        <p>
          Children with special needs may not always have perfect social skills
          but with Social Stories, they can learn and develop their skills.
        </p>
        <p>
          Social stories are simple, personalised tools to help children
          understand and navigate social situations or specific events.
        </p>
        <p>
          They are short narratives using pictures and simple text, to provide
          information about what to expect, how to behave and what others might
          be thinking or feeling in a given situation.
        </p>
        <p>
          The Stories can be creatively designed and personalised to suit each
          child’s specific circumstances or interests.
        </p>
        <p>
          Typically, social stories make a significant impact on children's
          social behaviour.
        </p>
        <p>
          They serve as a powerful tool to support social development and to
          navigate the social world with greater ease and understanding.
        </p>
        <p class="text-center">- - - END - - -</p>
      </div>
    </div>
  </div>
  
	</body></html>