---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import Layout from "../layouts/Layout.astro"
---
<Layout >
<html>
  <body>
    <h1 class="blue-on-white">Hello, World!</h1>
  </body>
</html>
<Layout />