<!DOCTYPE html>
<html lang="en" class="astro-SCKKX6R4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Elsje Stuiver - Occupational Therapy website">
		<meta name="keywords" content="Occupational Therapy, Arbeidsterapie, Occupational Therapist, Arbeidsterapeut, Paediatric, Pediatries, Child, Kind, Autism, Development Delay, ADD, AD(H)D, Sensory Integration, Pinetown, Durban, South Africa">
		<meta name="author" content="paul@kidzcandurban.com">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="360">
		<link rel="icon" href="/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#de2013">
		<meta name="viewport" content="width=device-width">
   

	<link rel="stylesheet" href="../../_astro/index.bcfb1ce1.css" /></head>
	<body class="astro-SCKKX6R4">
	
  <div class="views-container">
    <div class="views-head gray-on-blue">
      <div class="flex items-center">
        <a href="javascript:history.back()">
          <div>
            <svg viewBox="0 0 48 48" class="views-head-icon">
              <title>Back arrow icon</title>
              <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
            </svg>
          </div></a>
        <span class="views-head-back" aria-hidden="true">back</span>
      </div>
      <div class="views-head-text">OT Vacancy (Sept 2021)</div>
      <div class="views-head-dummy">&nbsp;</div>
    </div>
    <div class="views-content blue-on-white">
      <p>
        We are looking for an experienced, paediatric Occupational Therapist to
        join our team.
      </p>
      <p>
        Starting off it will be part-time/afternoon work from 13:00 to 16:00
        five days per week, with option to expand to a full-time schedule as
        your caseload grows.
      </p>
      <p>
        We offer in-practice and school-based OT to children aged 1-13 years.
        The majority of our caseload are children with Autism, global
        developmental delay and special educational needs. We also receive
        referrals from local mainstream schools to address concentration,
        handwriting and motor delays.
      </p>
      <p>
        Emphasis is placed on being child-centred and family-focussed thus
        encouraging parents and caregivers to get actively involved in the
        therapy process.
      </p>
      <p>
        This role will allow for an opportunity to work within a
        multidisciplinary team, however, the majority of work will be
        independent from fellow staff members.
      </p>
      <p>
        Our existing systems and Apps will be available to streamline
        administration and practice management.
      </p>
      <p>
        Occupational Therapists with a minimum of 5 years paediatric work
        experience are invited to apply. Sensory Integration training is
        essential and training in DIR or AAC would be beneficial. Registration
        with the relevant regulatory bodies will be required. You should also
        have access to your own transport and be willing to commute between
        Pinetown and Durban North once or twice per week.
      </p>
      <p>Position available as soon as possible</p>
      <p>
        Should you be interested in this position please send a cover letter and
        CV to info@kidzcandurban.com
      </p>
      <p>We look forward to hearing from you!</p>
      <p class="text-center">- - - END - - -</p>
    </div>
  </div>
  
	</body></html>