<!DOCTYPE html>
<html lang="en" class="astro-SCKKX6R4">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Elsje Stuiver - Occupational Therapy website">
		<meta name="keywords" content="Occupational Therapy, Arbeidsterapie, Occupational Therapist, Arbeidsterapeut, Paediatric, Pediatries, Child, Kind, Autism, Development Delay, ADD, AD(H)D, Sensory Integration, Pinetown, Durban, South Africa">
		<meta name="author" content="paul@kidzcandurban.com">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="360">
		<link rel="icon" href="/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#de2013">
		<meta name="viewport" content="width=device-width">
   

	<link rel="stylesheet" href="../../_astro/index.bcfb1ce1.css" />
<link rel="stylesheet" href="/_astro/media-blog.71a5b142.css" /></head>
	<body class="astro-SCKKX6R4">
	
  <div style="display: contents" class="astro-4Y4XMH2W">
    <div class="views-head gray-on-blue astro-4Y4XMH2W">
      <div class="flex items-center astro-4Y4XMH2W">
        <a href="javascript:history.go(-1)" class="astro-4Y4XMH2W"><div class="astro-4Y4XMH2W">
            <svg viewBox="0 0 48 48" class="views-head-icon astro-4Y4XMH2W">
              <title>Back arrow icon</title>
              <path stroke-linejoin="round" d="M13,24.5 23,13.5 23,20.5 34,20.5 34,28.5 23,28.5 23,35.5Z" class="astro-4Y4XMH2W"></path>
            </svg>
          </div></a>
        <span class="views-head-back astro-4Y4XMH2W" aria-hidden="true">back</span>
      </div>
      <div class="views-head-text astro-4Y4XMH2W">kidzcandurban.blogspot.com</div>
      <div class="views-head-dummy astro-4Y4XMH2W">&nbsp;</div>
    </div>
    <div class="flex flex-col items-center relative w-full h-screen m-0 p-0 astro-4Y4XMH2W" data-svelte-h="svelte-13muhk3">
      <div class="absolute origin-top width-full h-screen scale-[0.43] xs:iframescale-xs sm:iframescale-sm md:iframescale-md -mt-16 xs:-iframemt-xs sm:-iframemt-sm md:-iframemt-md svelte-19c54l5 astro-4Y4XMH2W">
        <iframe title="kidzcandurban blog" width="780px" height="250%" class=" astro-4Y4XMH2W" src="https://kidzcandurban.blogspot.com"></iframe>
      </div>
    </div>
  </div>
  
	</body></html>