---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div style="display: contents">
    <div class="views-container">
      <div class="views-head blue-on-white">
        <div class="flex items-center">
          <a href="javascript:history.go(-1)"
            ><div>
              <svg viewBox="0 0 48 48" class="views-head-icon">
                <title>Back arrow icon</title>
                <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
              </svg></div
          ></a>
          <span class="views-head-back" aria-hidden="true">back</span>
        </div>
        <div class="views-head-text">Attention and Concentration</div>
        <div class="views-head-dummy">&nbsp;</div>
      </div>
      <div class="views-content gray-on-blue">
        <p>
          We recognise that attention and concentration difficulties in children
          can be caused by a variety of factors, of which only one is ADD or
          AD(H)D.
        </p>
        <p>
          Hence our focus on conducting comprehensive
          <a
            class="views-link"
            href="./services-ot-assessment.html"
            target="_self"
            >Occupational Therapy assessments</a
          >to assist our therapists in identifying aspects that may be affecting
          a child’s ability to focus and attend.
        </p>
        <p>
          Our therapists are qualified and experienced to treat attention and
          concentration difficulties by:
        </p>
        <ul class="views-list-item">
          <li>
            Improving physical strength, balance and endurance in both sitting
            and handwriting so that a child does not fatigue as quickly.
          </li>
          <li>Making recommendations regarding life-style adaptations.</li>
          <li>
            Improving visual-perceptual delays that may affect the child’s
            performance during "looking and learning" tasks.
          </li>
          <li>
            Increasing motivation and facilitating the implementation of
            behavioural strategies such as token systems, timers and reward
            charts.
          </li>
          <li>
            Improving ocular motor skills which may be affecting the child’s
            performance during tasks that require scanning of the environment or
            tracking of objects such as reading or copying from the board.
          </li>
          <li>
            Addressing sensory modulation difficulties through the
            implementation of a
            <a
              class="views-link"
              href="./services-sensory-diet.html"
              target="_self"
              >Sensory Diet</a
            >
            or an
            <a
              class="views-link"
              href="./services-alert-program.html"
              target="_self"
              >Alert Program</a
            >
            depending on the child’s needs and abilities.
          </li>
        </ul>
        <p>
          Should the cause not be related to OT areas, the therapist will refer
          the child to other health care or medical professionals who will be
          able to address the concerns.
        </p>
        <p class="text-center">- - - END - - -</p>
      </div>
    </div>
  </div>
</Layout>
