---
import Layout from "../../layouts/Layout.astro";
const build = import.meta.env.PROD;
const titleBack = " - Social Stories";
const headClass = "views-head gray-on-blue";
const headTitle = "Social Stories";
const mainClass = "views-content blue-on-white";
---

<Layout titleBack={titleBack}>
  <div style="display: contents">
    <div class="views-container">
      <header class={headClass}>
        <nav class="w-full">
          <div class="w-full flex items-center justify-between">
            <div class="flex items-center">
              <a href="javascript:history.back()">
                <svg viewBox="0 0 48 48" class="views-head-icon">
                  <title>Back arrow icon</title>
                  <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
                </svg>
              </a>
              <span class="views-head-back" aria-hidden="true">back</span>
            </div>

            <h1 class="views-head-text">{headTitle}</h1>
            <div class="views-head-dummy" aria-hidden="true">&nbsp;</div>
          </div>
        </nav>
      </header>

      <main class={mainClass}>
        <p>
          <span class="my-2 font-semibold italic block">
            Designing Social Stories
          </span>
        </p>
        <p>
          Children with special needs may not always have perfect social skills
          but with Social Stories, they can learn and develop their skills.
        </p>
        <p>
          Social stories are simple, personalised tools to help children
          understand and navigate social situations or specific events.
        </p>
        <p>
          They are short narratives using pictures and simple text, to provide
          information about what to expect, how to behave and what others might
          be thinking or feeling in a given situation.
        </p>
        <p>
          The Stories can be creatively designed and personalised to suit each
          child’s specific circumstances or interests.
        </p>
        <p>
          Typically, social stories make a significant impact on children's
          social behaviour.
        </p>
        <p>
          They serve as a powerful tool to support social development and to
          navigate the social world with greater ease and understanding.
        </p>
        <p class="text-center">- - - END - - -</p>
      </main>
    </div>
  </div>
</Layout>
