---
import Layout from "../../layouts/Layout.astro";
const build = import.meta.env.PROD;
const titleBack = " - Parent Support";
const headClass = "views-head gray-on-blue";
const headTitle = "Parent Support";
const mainClass = "views-content blue-on-white";
---

<Layout titleBack={titleBack}>
  <div style="display: contents">
    <div class="views-container">
      <header class={headClass}>
        <nav class="w-full">
          <div class="w-full flex items-center justify-between">
            <div class="flex items-center">
              <a href="javascript:history.back()">
                <svg viewBox="0 0 48 48" class="views-head-icon">
                  <title>Back arrow icon</title>
                  <path d="M13,24 23,13 23,20 34,20 34,28 23,28 23,35Z"></path>
                </svg>
              </a>
              <span class="views-head-back" aria-hidden="true">back</span>
            </div>

            <h1 class="views-head-text">{headTitle}</h1>
            <div class="views-head-dummy" aria-hidden="true">&nbsp;</div>
          </div>
        </nav>
      </header>

      <main class={mainClass}>
        <p>
          Our therapsists recognise the importance of parent, guardian and
          care-giver involvement to achieve maximum gains from therapy,
        </p>
        <p>
          Emphasis is placed on helping parents understand the areas that may
          boost or hamper their child’s development.
        </p>
        <p>
          The therapists' specialised training and experience enable them to
          provide families with strategies, handouts, equipment and other
          resources to best support the child in achieving their full potential.
        </p>
        <p>
          After the
          <a
            class="views-link"
            href={build
              ? "./services-ot-assessment.html"
              : "./services-ot-assessment"}
            target="_self"
            class="views-link">Occupational Therapy Assessment</a
          >
          and before commencing the therapy process, the parents and child will be
          provided with opportunity to collaborate on setting the goals for therapy.
        </p>
        <p>
          This goal-setting process ensures that there will be realistic
          expectations and tangible outcomes on which to measure the success of
          the therapy intervention.
        </p>
        <p>
          In addition, each therapy session incorporates a 5-10 minute
          collaboration between family members and the therapist and opportunity
          for the therapist to provide recommendations with regards to home
          practice and repetition.
        </p>
        <p>
          Our therapists are available for private parent meetings as well as
          community and school presentations on Occupational Therapy or related
          topics.
        </p>
        <p class="text-center">- - - END - - -</p>
      </main>
    </div>
  </div>
</Layout>
