---
import '../styles/tailwindSetup.css'
const {titleFront='KidzCanDurban', titleBack=""} = Astro.props;
---  

  <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Elsje Stuiver - Occupational Therapy website" />
		<meta
			name="keywords"
			content="Occupational Therapy, Arbeidsterapie, Occupational Therapist, Arbeidsterapeut, Paediatric, Pediatries, Child, Kind, Autism, Development Delay, ADD, AD(H)D, Sensory Integration, Pinetown, Durban, South Africa"
		/>
		<meta name="author" content="paul@kidzcandurban.com" />
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="360" />
		<link
			rel="icon"
			href="/favicon-32x32.png"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#de2013" />
		<meta name="viewport" content="width=device-width" />
		<title>{titleFront}{titleBack}</title>
   

	</head>
	<body>
	<slot />  
	</body>
</html>

<style>
	.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
  }
  </style>